* {
  outline: 1px dashed grey;
}

.desc {
  display: none;
}

html {
  body {
    main {
      section {
        textarea {
          width: 60%;
          height: 100px;
          padding: 20px;
        }
      }
      section {
        canvas {
        }
        .saved-image {
          display: none;
          width: 600px;
          height: 400px;
          .image-copy {
            display: none;
            width: 600px;
            height: 400px;
          }
        }
        p {
        }
      }
      .btn-field {
        position: absolute;
        top: 0;
        right: 0;
        div.buttons {
        }
      }
    }
  }
}
